<!DOCTYPE html>
<html>

<head>
  <title>i快答</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/react-bootstrap/0.31.0/react-bootstrap.min.js"></script>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/socket.io/1.7.3/socket.io.min.js"></script>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    var socket = io();
  </script>
  </style>
</head>

<body>
  <% include head %>
  <div class="container">
    <div class="row" id="head">
      <div class="col-md-9" id="left">
        <div class="row" id="change">
          <div class="row">
            <div class="col-md-12" id="change-s">
              <span id="chang">是否悬赏:</span>
              <span class="active"><a href="#">全部</a></span>
              <span><a href="#">悬赏</a></span>
              <span><a href="#">非悬赏</a></span>

            </div>
            <div class="col-md-12" id="change-s">
              <span id="chang">问题状态:</span>
              <span class="active"><a href="#">全部</a></span>
              <span><a href="#">提问中</a></span>
              <span><a href="#">已解决</a></span>

            </div>
            <div class="col-md-12" id="change-s">
              <span id="chang">问题种类:</span>
              <span class="active"><a href="#">全部</a></span>
              <span><a href="#">php</a></span>
            </div>
          </div>
        </div>

        <% ques.forEach(function(quest){ %>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="row" id="title">
                <div class="col-md-12 col-xs-12 col-sm-12" id="money">
                  <div class="row">
                    <div class="col-md-2 col-xs-2 col-sm-2" id="tit">
                      标题
                    </div>
                    <div class="col-md-7 col-xs-7 col-sm-7" id="ans">
                      <span><a href="#"><%= quest.title %></a></span>
                      <i><a href="#">php</a></i>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                      <span class="tub">
                        <i>￥ <span><%= quest.money %></span></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="row" id="xian">
                <div class="col-md-3 col-xs-3 col-sm-3" id="img">
                  <img src="<%= quest.headPortrait %>" alt="">
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3" id="read">
                  <p><%= quest.pageviews %></p>
                  浏览量
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3" id="time">
                  <p><%= quest.createTime %></p>
                  创建时间
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3" id="time">
                  <p><%= quest.validTime %></p>
                  悬赏时间
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>

        <div class="col-md-3">
          <div class="l-t">
            <div class="l-xs">
              <i class="fa fa-money " aria-hidden="true"></i>&nbsp;&nbsp;赏金榜
            </div>
            <ol>
              <% ques.forEach(function(ranko){ %>
                <li>
                  <!-- 头像图片 -->
                  <a href="#"><%= ranko.title %></a>
                  <span><%= ranko.money %></span>
                </li>
                <% }) %>
              </ol>
            </div>
            <div class="l-t">
              <div class="l-xs">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>&nbsp;&nbsp;达人榜
              </div>
              <ol>

                  <li>
                    <!-- 头像图片 -->
                    <img src="" alt="">
                    <a href="#"></a>
                    <span>+46</span>
                  </li>

                </ol>
              </div>
              <div class="l-l">
                <h4>热搜榜
                  <span class="span">
                    <a href="#">今天</a>&nbsp;·
                    <a href="#">本周</a>&nbsp;·
                    <a href="#">更多</a>
                  </span>
                </h4>
                <ol>
                  <% ques.forEach(function(ranks){ %>
                    <li>
                      <a href="#"><%= ranks.title %></a>
                      <span><%= ranks.pageviews %></span>
                    </li>
                    <% }) %>

                  </ol>
                </div>
                <div class="l-w">
                  <p>手机应用APP</p>
                  <a class="tw" href="#">点击下载</a>
                </div>
              </div>
            </div>
          </div>
        </div>

  <% include foot %>

    <div class="container" id="react-root"></div>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#change-s span").click(function(){
          $(this).addClass("active").siblings().removeClass("active")
        })
      })
    </script>
</body>

</html>
