<!DOCTYPE html>
<html>

<head>
  <title>i快答</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <% include head %>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row" id="head">
          <div>
            <div class="col-md-12 col-xs-12 col-sm-12" id="allOne">
              <span class="active"><a href="/">全部</a></span>
              <span><a href="#">悬赏</a></span>
              <span><a href="#">非悬赏</a></span>
              <span><a href="#">提问中</a></span>
              <span><a href="#">已解决</a></span>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12" id="allTwo">
                <span class="active"><a href="#">全部</a></span>
                <span id="list">
                  <% data5.forEach(function(quest){ %>
                    <a href="#"><%= quest.type %></a>
                  <% }) %>
                </span>
              </div>
            </div>
          </div>
          <% data1.forEach(function(quest){ %>
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="row">
              <div id="looktg">
                <div class="col-md-1 col-xs-4 col-sm-1" id="look">
                  <p><%= quest.pageviews %></p>
                  浏览量
                </div>
                <div class="col-md-1 col-xs-4 col-sm-1" id="time">
                  <% if(quest.validTime){ %>
                  <p class="time"><%= quest.createTime %></p>
                  悬赏时间
                  <% }else{ %>
                  <p class="line"><%= quest.createTime %></p>
                  提问时间
                  <% } %>

                </div>
                <div class="col-md-1 col-xs-4 col-sm-1" id="gold">
                  <% if(quest.money){ %>
                  <span>G</span>
                  <% }else{ %>
                  <span id="help">H</span>
                  <% } %>
                </div>
                <div class="col-md-9 col-xs-12 col-sm-9">
                  <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12" id="title">
                      <h4><a href=/question/<%= quest._id %>><%= quest.title %></a></h4>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12" id="label">
                      <i><a href="#"><%= quest.type %></a></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
          <div class="question">
            <p><i class="fa fa-question-circle-o fa-lg" aria-hidden="true">&nbsp;</i>你能难住我吗！！！</p>
            <a class="btn btn-success btn-lg col-md-12 col-xs-12 col-sm-12" href="/publish"><span id="spa">提 问</span></a>
          </div>
          <div class="list">
            <div class="list-money">
              <i class="fa fa-money " aria-hidden="true"></i>&nbsp;&nbsp;赏金榜
            </div>
            <ol>
              <% data2.forEach(function(ranko){ %>
              <li>
                <a href=/question/<%= ranko._id %>> <%= ranko.title %></a>
                <span>￥&nbsp;<%= ranko.money %></span>
              </li>
              <% }) %>
            </ol>
            </div>
            <div class="list">
              <div class="list-person">
                <i class="fa fa-free-code-camp" aria-hidden="true"></i>&nbsp;&nbsp;达人榜
              </div>
              <ol>
                <% data3.forEach(function(user){ %>
                <li>
                  <img src="<% user.headPortrait %>" alt="">
                  <a href=/userinfo/<%= user._id %>><%= user.nickName %></a>
                  <span><%= user.totalReward %></span>
                </li>
                <% }) %>
                </ol>
              </div>
              <div class="list">
                <div class="list-hot">
                <h4>&nbsp;<i class="fa fa-fire" aria-hidden="true">&nbsp;</i>热搜榜</h4>
                <ol>
                  <% data4.forEach(function(ranks){ %>
                  <li>
                    <a href=/question/<%= ranks._id %>><%= ranks.title %></a>
                    <span><%= ranks.pageviews %></span>
                  </li>
                  <% }) %>
                </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include foot %>

  <div class="container" id="react-root"></div>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#allOne span").click(function(){
      $(this).addClass("active").siblings().removeClass("active")
    })

      var now = new Date()
      var nowTime = (now).getTime();
      $(".line").each(function(){
        $(this).text()
        var date = $(this).text()
        data = date.substring(10,19);
        $(this).text(data)

        })
        $(".time").each(function(){
          $(this).text()
          var date = $(this).text()
          data = date.substring(10,19);
          $(this).text(data)

          })

      })
  </script>

</body>

</html>
